body{
    background-color: #000;
    color: #fff;
    margin: 0 5%;
}

/*background gif */
.body-overlay{
    opacity: .2;
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 90%;
    width: 100%;
    z-index: -1;
}

/*contact card */
/*.contact-card{
    max-width: 488px;
    border: 1px solid #fff;
    border-radius: 25px;     
    text-align: center;
    padding: 0 10px;

}.contact-card:hover{
    border-color: #e44113;
}
.contact-card img{
    max-height: 500px;
    border-radius: 20px;
}
.contact-card i{
    font-size: 25px;
}.contact-card>div{
    padding: 10px 0;
}
@media only screen and (min-width: 992px) {
    .contact-card{
        width: 25%;
        top: 10%;
        left: 2%;        
        position: fixed;
        margin-top: 0;
    }
    
}*/

/*making the contact card a sidebar*/
.topbar {
  background-color: black;
  overflow: hidden;
}

.sidebar {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: none;
    text-align: center;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left 1s;
    padding: 40px;
  }


/*subheader thing */
span{
    color: #e44113;
    font-size: .8em;
    font-weight: 800;
}

/*recoloring the icons */
.fa-solid {
    color: #e44113;
}

.fa-brands {
    color: #e44113;
}

/*section stuff */
section{
    padding: 0 0 10% 0;
}

.section-title{
    border-radius:20px;
    border: 1px solid #fff;
    padding: 10px;
    width: fit-content;
    font-size: 16px;
    margin-bottom: 5%;

} .section-title:hover{
    border-color: #e44113;
}

/*skill card */
.specialization-card{   
    border: 1px solid #fff;
    padding: 2%;
    margin-bottom: 5px;
} .specialization-card:hover{
    border-color: #8C1F00;
}
.specialization-card .col-lg-3{
    text-align: center;
}

/*collapsible*/
.collapsible {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.content {
    display: none;
}

.dropDownArrow {
    font-size: 2em;
    text-align: right;
}

.temp {
    display: none;
}


/*carousel */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.centerDots {
  text-align: center;
}
