body{
    background-color: #000;
    color: #fff;
    margin: 0 5%;
}

/*background img */
.body-overlay{
    opacity: .2;
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*about me */
#home {
  text-align: center;
}

#aboutBlurb {
  text-align: left;
  margin-top: 12.5%;
}

.headShot {
  border-radius: 200px;
  padding-bottom: 1em;
}

/*making the contact card a sidebar*/
#topbar {
  background-color: black;
  
}

.sidebar {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: none;
    text-align: center;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    margin: 0 auto;
    border-style: solid;
    border-color: #8C1F00;
  }


/*subheader thing */
span{
    color: #e44113;
    font-size: .8em;
    font-weight: 800;
}

/*recoloring the icons */
.fa-solid {
    color: #e44113;
}

.fa-brands {
    color: #e44113;
}

/*section stuff */
section{
    padding: 0 0 10% 0;
}

.section-title{
    border-radius:20px;
    border: 1px solid #fff;
    padding: 10px;
    width: fit-content;
    font-size: 16px;
    margin-bottom: 5%;

} .section-title:hover{
    border-color: #e44113;
}

/*skill card */
.specialization-card{   
    border: 1px solid #fff;
    padding: 2%;
    margin-bottom: 5px;
} /*.specialization-card:hover{
    border-color: #8C1F00;
}*/
.specialization-card .col-lg-3{
    text-align: center;
}

.imgFix {
  width: 100%;
  height: 100%;
}

/*collapsible*/
.collapsible {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.content {
    display: none;
}

.dropDownArrow {
    font-size: 2em;
    text-align: right;
}

.temp {
    display: none;
}


/*carousel */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.centerDots {
  text-align: center;
}


/*skill cards */
.skillCard {
  border: 3px solid #E44213;
  border-radius: 10px; 
  background-color: rgb(216, 213, 213);
  text-align: center;
  margin: 10px;
}


/*contact form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #FF8F6E;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #F26A43;
}

/* Add a background color and some padding around the form */
.contactContainer {
  border-radius: 5px;
  padding: 20px;
}